<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="capsule">
            <h2><span>Capsule</span> {{capsule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Capsule Type</span></dt>
                <dd>
                    <span>{{capsule.capsuleType}}</span>
                </dd>
                <dt><span>Capsule Number</span></dt>
                <dd>
                    <span>{{capsule.capsuleNumber}}</span>
                </dd>
                <dt><span>Patient</span></dt>
                <dd>
                    <div *ngIf="capsule.patientId">
                        <a [routerLink]="['/patient', capsule.patientId, 'view']">{{capsule.patientId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/capsule', capsule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
