<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-examination-heading">Create or edit a Examination</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!examination.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="examination.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_patientId">Patient Id</label>
                    <input type="number" class="form-control" name="patientId" id="field_patientId"
                        [(ngModel)]="examination.patientId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_doctorId">Doctor Id</label>
                    <input type="number" class="form-control" name="doctorId" id="field_doctorId"
                        [(ngModel)]="examination.doctorId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="examination.status" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_useDate">Use Date</label>
                    <input type="text" class="form-control" name="useDate" id="field_useDate"
                        [(ngModel)]="examination.useDate" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_capsule">Capsule</label>
                    <select class="form-control" id="field_capsule" name="capsule" [(ngModel)]="examination.capsuleId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="capsuleOption.id" *ngFor="let capsuleOption of capsules; trackBy: trackCapsuleById">{{capsuleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
